<div class="container">
  <mat-card [class.mat-elevation-z8]="true">
    <mat-card-title>{{merchant?.merchantName}}</mat-card-title>
    <br>
    <mat-card-subtitle style="font-size: medium; font-weight: bold;">{{merchant?.merchantId}}</mat-card-subtitle>
  </mat-card>
</div>
<br>

<div>
  <mat-tab-group>
<!-- Pending Orders -->
    <mat-tab label="Pending Orders">
      <br>
      <div class="container" *ngFor="let orderPlaced of placedOrderList">
        <div *ngIf="orderPlaced?.orderStatus == 'Order Placed'">
      <mat-card [class.mat-elevation-z8]="true">
        <table class="table table-bordered" style="width: 100%; text-align: center;">
          <tbody>
            <tr>
              <th>Date</th>
              <th>Order ID</th>
              <th>Order Status</th>
              <th>Transaction Mode</th>
              <th>User Name</th>
              <th>Contact NUmber</th>
              <th>Delivery Address</th>
              <th>No. of Items</th>
              <th>Total Amount</th>
            </tr>
            <tr>
              <td>{{orderPlaced?.orderDate}}</td>
              <td>{{orderPlaced?.orderId}}</td>
              <td>{{orderPlaced?.orderStatus}}</td>
              <td>{{orderPlaced?.transactionMode}}</td>
              <td>{{orderPlaced?.customerName}}</td>
              <td>{{orderPlaced?.phoneNumber}}</td>
              <td>{{orderPlaced?.userAddress}}</td>
              <td>{{orderPlaced?.numberOfItems}}</td>
              <td>{{orderPlaced?.toPay}}/-</td>
            </tr>
          </tbody>
        </table>
        <mat-card-actions align="center">
            <button mat-raised-button color="primary" type="submit"> Accept </button>
            <button mat-raised-button type="submit"> Decline </button>
          </mat-card-actions>
      </mat-card>
      <mat-accordion>
        <mat-expansion-panel [class.mat-elevation-z8]="true">
          <mat-expansion-panel-header>Items</mat-expansion-panel-header>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>S.No.</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Size</th>
                <th>MRP</th>
                <th>Qty</th>
                <th>Discount%</th>
                <th>Price After Discount</th>
                <th>Toal Price</th>
              </tr>
              <tr *ngFor="let item of orderPlaced.items let i = index" [attr.data-index]="i">
                <td>{{i+1}}</td>
                <td>{{item.itemName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.size}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.discount}}%</td>
                <td>{{item.discountedPrice}}</td>
                <td>{{item.priceAsPerQuantity}}</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
      <br>
    </div>
    <div *ngIf="isLoading" style="align-items: center; justify-content: center; display: flex;">
      <mat-spinner [diameter]="50" mode="indeterminate"></mat-spinner>
    </div>
    </mat-tab>
<!-- Active Orders -->
    <mat-tab label="Active Orders">
      <div align="end" class="container">
        <button mat-raised-button (click) = "onClickToActiveOrder()">Show</button>
      </div>
      <br>
      <div class="container" *ngFor="let orderPlaced of acceptedOrderList">
        <div *ngIf="orderPlaced?.orderStatus == 'Order Accepted'">
      <mat-card [class.mat-elevation-z8]="true">
        <table class="table table-bordered" style="width: 100%; text-align: center;">
          <tbody>
            <tr>
              <th>Date</th>
              <th>Order ID</th>
              <th>Order Status</th>
              <th>Transaction Mode</th>
              <th>User Name</th>
              <th>Contact NUmber</th>
              <th>Delivery Address</th>
              <th>No. of Items</th>
              <th>Total Amount</th>
            </tr>
            <tr>
              <td>{{orderPlaced?.orderDate}}</td>
              <td>{{orderPlaced?.orderId}}</td>
              <td>{{orderPlaced?.orderStatus}}</td>
              <td>{{orderPlaced?.transactionMode}}</td>
              <td>{{orderPlaced?.customerName}}</td>
              <td>{{orderPlaced?.phoneNumber}}</td>
              <td>{{orderPlaced?.userAddress}}</td>
              <td>{{orderPlaced?.numberOfItems}}</td>
              <td>{{orderPlaced?.toPay}}/-</td>
            </tr>
          </tbody>
        </table>
        <mat-card-actions align="center">
            <button mat-raised-button color="primary" type="submit" (click)="onClickToChangeStatus(orderPlaced?.orderId)"> Accept </button>
            <button mat-raised-button type="submit"> Decline </button>
          </mat-card-actions>
      </mat-card>
      <mat-accordion [class.mat-elevation-z8]="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>Items</mat-expansion-panel-header>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>S.No.</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Size</th>
                <th>MRP</th>
                <th>Qty</th>
                <th>Discount%</th>
                <th>Price After Discount</th>
                <th>Toal Price</th>
              </tr>
              <tr *ngFor="let item of orderPlaced.items let i = index" [attr.data-index]="i">
                <td>{{i+1}}</td>
                <td>{{item.itemName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.size}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.discount}}%</td>
                <td>{{item.discountedPrice}}</td>
                <td>{{item.priceAsPerQuantity}}</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
      <br>
    </div>
    <div *ngIf="isLoading" style="align-items: center; justify-content: center; display: flex;">
      <mat-spinner [diameter]="50" mode="indeterminate"></mat-spinner>
    </div>
    </mat-tab>
<!-- Out For Delivery -->
    <mat-tab label="Out For Delivery" (click) = "onClickToOutForDeliveryOrder()">
      <div align="end" class="container">
        <button mat-raised-button (click) = "onClickToOutForDeliveryOrder()">Show</button>
      </div>
      <br>
      <div class="container" *ngFor="let orderPlaced of outForDeliveryOrderList">
        <div *ngIf="orderPlaced?.orderStatus == 'Out  For Delivery'">
      <mat-card [class.mat-elevation-z8]="true">
        <table class="table table-bordered" style="width: 100%; text-align: center;">
          <tbody>
            <tr>
              <th>Date</th>
              <th>Order ID</th>
              <th>Order Status</th>
              <th>Transaction Mode</th>
              <th>User Name</th>
              <th>Contact NUmber</th>
              <th>Delivery Address</th>
              <th>No. of Items</th>
              <th>Total Amount</th>
            </tr>
            <tr>
              <td>{{orderPlaced?.orderDate}}</td>
              <td>{{orderPlaced?.orderId}}</td>
              <td>{{orderPlaced?.orderStatus}}</td>
              <td>{{orderPlaced?.transactionMode}}</td>
              <td>{{orderPlaced?.customerName}}</td>
              <td>{{orderPlaced?.phoneNumber}}</td>
              <td>{{orderPlaced?.userAddress}}</td>
              <td>{{orderPlaced?.numberOfItems}}</td>
              <td>{{orderPlaced?.toPay}}/-</td>
            </tr>
          </tbody>
        </table>
        <mat-card-actions align="center">
            <button mat-raised-button color="primary" type="submit" (click)="onClickToChangeStatus(orderPlaced?.orderId)"> Accept </button>
            <button mat-raised-button type="submit"> Decline </button>
          </mat-card-actions>
      </mat-card>
      <mat-accordion [class.mat-elevation-z8]="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>Items</mat-expansion-panel-header>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>S.No.</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Size</th>
                <th>MRP</th>
                <th>Qty</th>
                <th>Discount%</th>
                <th>Price After Discount</th>
                <th>Toal Price</th>
              </tr>
              <tr *ngFor="let item of orderPlaced.items let i = index" [attr.data-index]="i">
                <td>{{i+1}}</td>
                <td>{{item.itemName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.size}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.discount}}%</td>
                <td>{{item.discountedPrice}}</td>
                <td>{{item.priceAsPerQuantity}}</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
      <br>
    </div>
    <div *ngIf="isLoading" style="align-items: center; justify-content: center; display: flex;">
      <mat-spinner [diameter]="50" mode="indeterminate"></mat-spinner>
    </div>
    </mat-tab>
<!-- Completed Orders -->
    <!-- <mat-tab label="Completed Orders" (click) = "onClickToCompletedOrder()">
      <div align="end" class="container">
        <button mat-raised-button (click) = "onClickToCompletedOrder()">Show</button>
      </div>
      <br>
      <div class="container" *ngFor="let orderPlaced of completedOrderList">
        <div *ngIf="orderPlaced?.orderStatus == 'Order Completed'">
      <mat-card [class.mat-elevation-z8]="true">
        <table class="table table-bordered" style="width: 100%; text-align: center;">
          <tbody>
            <tr>
              <th>Date</th>
              <th>Order ID</th>
              <th>Order Status</th>
              <th>Transaction Mode</th>
              <th>User Name</th>
              <th>Contact NUmber</th>
              <th>Delivery Address</th>
              <th>No. of Items</th>
              <th>Total Amount</th>
            </tr>
            <tr>
              <td>{{orderPlaced?.orderDate}}</td>
              <td>{{orderPlaced?.orderId}}</td>
              <td>{{orderPlaced?.orderStatus}}</td>
              <td>{{orderPlaced?.transactionMode}}</td>
              <td>{{orderPlaced?.customerName}}</td>
              <td>{{orderPlaced?.phoneNumber}}</td>
              <td>{{orderPlaced?.userAddress}}</td>
              <td>{{orderPlaced?.numberOfItems}}</td>
              <td>{{orderPlaced?.toPay}}/-</td>
            </tr>
          </tbody>
        </table>
        <mat-card-actions align="center">
            <button mat-raised-button color="primary" type="submit" (click)="onClickToChangeStatus(orderPlaced?.orderId)"> Accept </button>
            <button mat-raised-button type="submit"> Decline </button>
          </mat-card-actions>
      </mat-card>
      <mat-accordion [class.mat-elevation-z8]="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>Items</mat-expansion-panel-header>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>S.No.</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Size</th>
                <th>MRP</th>
                <th>Qty</th>
                <th>Discount%</th>
                <th>Price After Discount</th>
                <th>Toal Price</th>
              </tr>
              <tr *ngFor="let item of orderPlaced.items let i = index" [attr.data-index]="i">
                <td>{{i+1}}</td>
                <td>{{item.itemName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.size}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.discount}}%</td>
                <td>{{item.discountedPrice}}</td>
                <td>{{item.priceAsPerQuantity}}</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
      <br>
    </div>
    <div *ngIf="isLoading" style="align-items: center; justify-content: center; display: flex;">
      <mat-spinner [diameter]="50" mode="indeterminate"></mat-spinner>
    </div>
    </mat-tab> -->
<!-- Cancelled Orders -->
    <!-- <mat-tab label="Cancelled Orders" (click) = "onClickToCancelledOrder()">
      <div align="end" class="container">
        <button mat-raised-button (click) = "onClickToCancelledOrder()">Show</button>
      </div>
      <br>
      <div class="container" *ngFor="let orderPlaced of cancelledOrderList">
        <div *ngIf="orderPlaced?.orderStatus == 'Order Cancelled'">
      <mat-card [class.mat-elevation-z8]="true">
        <table class="table table-bordered" style="width: 100%; text-align: center;">
          <tbody>
            <tr>
              <th>Date</th>
              <th>Order ID</th>
              <th>Order Status</th>
              <th>Transaction Mode</th>
              <th>User Name</th>
              <th>Contact NUmber</th>
              <th>Delivery Address</th>
              <th>No. of Items</th>
              <th>Total Amount</th>
            </tr>
            <tr>
              <td>{{orderPlaced?.orderDate}}</td>
              <td>{{orderPlaced?.orderId}}</td>
              <td>{{orderPlaced?.orderStatus}}</td>
              <td>{{orderPlaced?.transactionMode}}</td>
              <td>{{orderPlaced?.customerName}}</td>
              <td>{{orderPlaced?.phoneNumber}}</td>
              <td>{{orderPlaced?.userAddress}}</td>
              <td>{{orderPlaced?.numberOfItems}}</td>
              <td>{{orderPlaced?.toPay}}/-</td>
            </tr>
          </tbody>
        </table>
        <mat-card-actions align="center">
            <button mat-raised-button color="primary" type="submit" (click)="onClickToChangeStatus(orderPlaced?.orderId)"> Accept </button>
            <button mat-raised-button type="submit"> Decline </button>
          </mat-card-actions>
      </mat-card>
      <mat-accordion [class.mat-elevation-z8]="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header>Items</mat-expansion-panel-header>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>S.No.</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Size</th>
                <th>MRP</th>
                <th>Qty</th>
                <th>Discount%</th>
                <th>Price After Discount</th>
                <th>Toal Price</th>
              </tr>
              <tr *ngFor="let item of orderPlaced.items let i = index" [attr.data-index]="i">
                <td>{{i+1}}</td>
                <td>{{item.itemName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.size}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.discount}}%</td>
                <td>{{item.discountedPrice}}</td>
                <td>{{item.priceAsPerQuantity}}</td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
      <br>
    </div>
    <div *ngIf="isLoading" style="align-items: center; justify-content: center; display: flex;">
      <mat-spinner [diameter]="50" mode="indeterminate"></mat-spinner>
    </div>
    </mat-tab> -->
    <mat-tab label="Profile">

    </mat-tab>

    <mat-tab label="Requests">

    </mat-tab>
  </mat-tab-group>
</div>
